*,
*::after,
*::before {
  box-sizing: border-box;
  font: inherit;
}
html {
  color-scheme: dark light;
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji";
  line-height: 1.15;
}

body {
  min-height: 100svh;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p {
  max-width: 70ch;
  text-wrap: pretty;
}

img,
svg,
video {
  display: block;
  max-width: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  :has(:target) {
    scroll-behavior: smooth;
  }
}
